@model List<Films>
@{
    ViewData["Title"] = "Comedy";
}
<h1>@ViewData["id"]</h1>

<div>
    <h1>Alle comedyfilms!</h1>
    @foreach (Films Comedyfilm in Model)
    {
        <div class="film">
            <img src="@Comedyfilm.Poster" alt="@Comedyfilm.Naam">
            <div class="filmtitel">
                <a href="/film/@Comedyfilm.id">@Comedyfilm.Naam</a>
            </div>   
        </div>
    }
</div>