@model List<Films>  
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Alle namen!</h1>
    @foreach(Films film in Model)
    {
<div class="film">
    <img src="@film.Poster" alt="@film.Naam">
    <a href="/film/@film.id">@film.Naam</a>
</div>
    }
</div>