.topnav {
    background-color: #8223A5;
    overflow: hidden;
    top: 0;
    margin-top: 30px;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial;
    }

        .topnav a:hover {
            background-color: #9A23A5;
            color: white;
        }


        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

footer {
    background-color: #8223A5;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}

.film{
    padding: 20px;
    padding-left: 20%;
    
}

.contactform label {
    width: 100px;
    height: 50px;
    padding: 15px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}

img{
    width: 60%;
}


.display-4{
    padding-left: 15%;
}

.filmtitel {
    background-color: #B8B8B8;
    color: black;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

form{
    padding: 15px;
}
