<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="topnav">
            <a href="">Home</a>
            <a href="">Actie</a>
            <a href="">Romantiek</a>
            <a href="">Comedy</a>
            <a href="">Kinder</a>
            <a href="">Contact</a>
        </div>
    </header>
    @RenderBody()
</body>
</html>

