<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/home">Home</a>
            <a href="/actie">Actie</a>
            <a href="/romantiek">Romantiek</a>
            <a href="/comedy">Comedy</a>
            <a href="/kinder">Kinder</a>
            <a href="/contact">Contact</a>
        </div>
    </header>
    @RenderBody()
    <footer>
        <p>Contactgegevens?</p>
    </footer>
</body>
</html>

